#content{
    position: relative;
    height: fit-content;
}

#video-container{
    width: 100%;
    height: fit-content;
}

#video-time-container{
    position: relative;
    z-index: 20;
    right: 0px;
    bottom: 0px;
}

#video-current-time{
    display: inline-block;
    position: absolute;
    right: 50px;
}

#video-duration{
    position: absolute;
    right: 5px;
}

#progress-bar-container {
    width: 100%;    
    height: fit-content;
    position: absolute;
}

video{
    width: 100%;
}

#progress-bar{
    height: 20px;
    width: 100%;
    background-color: red; 
}
#max-progress-bar{
    height: 20px;
    width: 100%;
    background-color: #CCC;
    display: block;
}

#progress-bar,
#max-progress-bar,
#invisible-progress-bar {
position: absolute;
top: 0;
left: 0;
}
#progress-bar{
z-index: 10;
}

#invisible-progress-bar{
    z-index: 100;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

@media (max-width: 575.98px) { 

}