#video-container{
    width: 100%;
}

video{
    width: 100%;
}

#progress-bar{
    height: 20px;
    width: 100%;
    background-color: red; 
}
#max-progress-bar{
    height: 20px;
    width: 100%;
    background-color: #CCC;
    display: block;
}

#progress-bar-container {
    width: 100%;    
    height: 100px;
    position: relative;
}

#progress-bar,
#max-progress-bar,
#invisible-progress-bar {
position: absolute;
top: 0;
left: 0;
}
#progress-bar{
z-index: 10;
}

#invisible-progress-bar{
    z-index: 15;
    width: 100%;
    height: 20px;
    background-color: transparent;
}

@media (max-width: 575.98px) { 

}